
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#header {
    height: 35px;
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    gap: 9px;
    margin-top: 7px;
}

.india>img {
    height: 20px;
}

#country>h6 {
    margin-left: 20px;
}

#navbar {
    margin-top: 20px;
    display: flex;

}


#input {
    width: 950px;
    margin-top: 10px;
    border: 1px solid #dadcdf;
    border-radius: 4px 0 0 4px;
    background-color: #f9fafb;
    padding: 0 10px;
    font-size: 16px;
    appearance: none;
    line-height: 34px;
    margin-left: 25px;
}

#search_logo {
    background-color: #ff1f2c;
    height: 38px;
    width: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
    transform: translateX(-1px);

    margin-top: 10px;
}

#side_nav {
    display: flex;
    margin-left: 5px;

    gap: 25px;
    padding-left: 35px;
    padding-top: 10px;

}

#btn {
    border: none;
    padding: 0 10px;
    background-color: #2F3337;
    color: white;
    border-radius: 7px;
}

.account-logo>img {
    height: 30px;
    width: 30px;
}

.cart-logo>img {
    height: 30px;
    width: 30px;
}

.heart-logo>img {
    height: 30px;
    width: 30px;
}

p {
    font-size: 13px;
}

#content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid gainsboro;
    padding: 5px;
}

#content>div>p {
    font-family: sans-serif;
}

.sales>a {
    color: red;
}

a {
    text-decoration: none;
}

.search-logo {
    display: flex;
}
